@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  a {
    @apply underline;
  }

  .btn {
    @apply px-6 py-2.5 inline-block text-black font-medium text-xs leading-tight uppercase rounded shadow-md bg-gray-200 hover:bg-gray-200 hover:shadow-lg focus:bg-gray-700 focus:shadow-lg focus:outline-none focus:ring-0 active:shadow-lg transition duration-150 ease-in-out;
  }

  .btn-primary {
    @apply bg-blue-600 hover:bg-blue-700 focus:bg-blue-700 active:bg-blue-800 text-white;
  }

  .btn-danger {
    @apply bg-red-400 hover:bg-red-600 focus:bg-red-600 active:bg-red-800;
  }

  .btn-disabled {
    @apply bg-gray-100 hover:bg-gray-200 focus:bg-gray-200 active:bg-gray-300 text-black cursor-not-allowed;
  }

  .card {
    @apply block p-6 rounded-lg shadow-lg bg-white;
  }

  .card-header {
    @apply text-gray-900 text-xl leading-tight font-medium mb-2;
  }

  .alert {
    @apply block p-8 rounded-lg shadow-lg bg-white;
  }

  .alert-warning {
    @apply bg-yellow-400;
  }
}

.spinner {
  animation: spinner 1.2s linear infinite;
}
@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
